<div class="text-center">
  <% if whiskey.errors.any? %>
  <h4><%= whiskey.errors.count %>件のエラーが発生しました</h4>
    <ul>
      <% whiskey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="form-group d-flex justify-content-center">
  <%= form_with model: @whiskey, local: true do |f| %>
  <div class="field">
    <% if @whiskey.id == nil %>
      <%= f.label :"・Photo" %><br>
      <%= f.file_field :whiskey_image, value: @whiskey.whiskey_image, accept: 'image/*' %>
    <% else %>
      <%= f.label :"・Photo(変更する場合は選択してください)" %><br>
      <%= f.file_field :whiskey_image, value: @whiskey.whiskey_image, accept: 'image/*' %>
    <% end %>
  </div>

  <div class="field my-1">
    <%= f.label :"・name" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field my-1">
    <%= f.label :"・impression" %><br>
    <%= f.text_area :impression, size: "40x5" %>
  </div>

<div class="form-group" style="position: static;">
  <div class="field my-1">
    <%= f.label :"・taste" %><br>
    <div class="taste_scent_graph">
      <div class="mr-1">light</div>
        <div><%= f.range_field :taste, in: 0..250 %></div>
      <div class="ml-2">rich</div>
    </div>
  </div>

  <div class="field my-1">
    <%= f.label :"・scent" %><br>
    <div class="taste_scent_graph">
      <div>fruity</div>
        <div><%= f.range_field :scent, in: 0..250 %></div>
      <div class="ml-2">smokey</div>
    </div>
  </div>

  <% if @whiskey.id == nil %>
    <div class="field">
      <%= f.label :"・price" %><br>
      <%= f.select :price_range, [["〜2000円","〜2000円"],["2000円〜4000円","2000円〜4000円"],["4000円〜6000円","4000円〜6000円"],["6000円〜8000円","6000円〜8000円"],["8000円〜10000円","8000円〜10000円"],["10000円〜","10000円〜"]] %>
    </div>
    <div class="field my-3">
      <%= f.label :"・tag(入力しなくても投稿できます)" %><br>
      <%= f.text_field :tag, placeholder:",で区切ると複数のタグを登録できます", size:"40x10" %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :"・price" %><br>
      <%= f.select :price_range, [["〜2000円","〜2000円"],["2000円〜4000円","2000円〜4000円"],["4000円〜6000円","4000円〜6000円"],["6000円〜8000円","6000円〜8000円"],["8000円〜10000円","8000円〜10000円"],["10000円〜","10000円〜"]], {include_blank: @whiskey.price_range} %>
    </div>
    <div class="field my-3">
      <%= f.label :"・tag" %><br>
      <%= f.text_field :tag, value: @tag_list, size:"40x10" %>
    </div>
  <% end %>

  <div id="star", class="my-3">
    <%= f.label :"・cost performance" %>
    <div id="post_raty"></div>
  </div>

  <script>
    $(document).ready(function(){
      let raty_elem = document.querySelector('#post_raty');
      raty_elem.innerHTML = ""
      let option = {
        starOff: "<%= asset_path('star-off.png') %>",
        starOn: "<%= asset_path('star-on.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        scoreName: 'whiskey[performance]',
      };
      raty(raty_elem,option);
    });
  </script>

  <p class="text-center">
    <%= f.submit "登録する", class:"link my-3 mb-3 text-white btn btn-outline-secondary" %>
  </p>
  <% end %>
</div>