<%= flash[:notice] %>

<div class="container_fulid">
  <div class="row">
    <div class="tag_list col-3 ml-5 mt-3">
      <table class="table-bordered">
        <thead class="tag_thead">
          <tr>
            <th class="tag_title">タグ検索</th>
          </tr>
        </thead>
        <tbody>
          <% @tag_list.each do |list|%>
            <tr>
              <td>
              <%=link_to list.tag,searches_tag_path(tag_id: list.id) %>
              <%="(#{list.whiskeys.count})" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-8">
      <h2 class="title">レビューリスト</h2>

      <% @whiskeys.each do |whiskey| %>
        <div class="row">
          <div class="col-md-4">
            <%= link_to whiskey_path(whiskey) do %>
              <%= image_tag whiskey.whiskey_image, size:"260x350", alt: "ウイスキーの写真" %>
            <% end %>
          </div>

          <div class="col-md-4 ml-2">
            <div>
              投稿者<%= whiskey.user.name %>
            </div>
            <div>
              銘柄<%= whiskey.name %>
            </div>
            <div>
              価格帯<%= whiskey.price_range %>
            </div>
            <div>
              ライト
              <div class="graph">
                <div style="padding-left: <%= whiskey.taste %>px;"></div>
                <div class="point"></div>
              </div>
              リッチ
            </div>
            <p>フルーティー</p>
              <div class="graph">
                <div style="padding-left: <%= whiskey.scent %>px;"></div>
                <div class="point"></div>
              </div>
            <p>スモーキー</p>

            <p>コストパフォーマンス</p>
            <%= render "rate", whiskey: whiskey %>

            <div>タグ
            <% if whiskey.tags.blank? %>
              <%= "タグはありません" %>
            <% else %>
             #<%= whiskey.tags.map(&:tag).join(' #') %>
            <% end %>
            </div>

            <div id="favorite_buttons_<%= whiskey.id %>">
              <%= render "public/favorites/favorites", whiskey: whiskey %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @whiskeys %>
