<%= image_tag @whiskey.user.get_profile_image, size:"80x80", alt: "ユーザーの写真" %>

<%= @whiskey.user.name %>

<%= image_tag @whiskey.whiskey_image, size:"300x380", alt: "ウイスキーの写真" %>

<%= @whiskey.name %>

<%= @whiskey.impression %>

<%= @whiskey.price_range %>

<p>ライト</p>
  <div class="graph">
    <div style="padding-left: <%= @whiskey.taste %>px;"></div>
    <div class="point"></div>
  </div>
<p>リッチ</p>

<p>フルーティー</p>
  <div class="graph">
    <div style="padding-left: <%= @whiskey.scent %>px;"></div>
    <div class="point"></div>
  </div>
<p>スモーキー</p>

<p>コストパフォーマンス</p>
<%= render "rate", whiskey: @whiskey %>

<div id="favorite_buttons_<%= @whiskey.id %>">
  <%= render "public/favorites/favorites", whiskey: @whiskey %>
</div>

<% if @whiskey.tags.nil? %>
  <%= "タグはありません" %>
<% else %>
  <%= @whiskey.tags.map(&:tag).join(',') %>
<% end %>

<% if @whiskey.user == current_user %>
  <%= link_to '編集', edit_whiskey_path(@whiskey), class: "btn btn-sm btn-success" %>
  <%= link_to '削除', @whiskey, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
<% end %>

<%= form_with model: [@whiskey, @whiskey_comment], local: false do |f| %>
  <%= f.text_area :comment, size: "80x5", placeholder: "コメントはここに" %>
  <%= f.submit "送信" %>
<% end %>

<div id="comments_area">
  <%= render "public/whiskey_comments/comments", whiskey: @whiskey %>
</div>
