<h2 class="title">Review detail</h2>
<div class="container_fulid">
  <div class="row ml-md-3">
    <div class="profile col-sm-3 ml-sm-5 mt-sm-5">
      <div>
        <%= image_tag @whiskey.user.get_profile_image.variant(resize_to_fill: [100, 100]), alt: "ユーザーの写真" %>

        <div class="mt-3">name</div>
        <p class="mt-1"><%= @whiskey.user.name %></p>

        <% if @whiskey.user == current_user %>
          <div class="mt-3">post</div>
          <div class="d-flex mt-2">
            <div>
              <%= link_to '編集', edit_whiskey_path(@whiskey), class: "link text-white btn btn-sm btn-outline-secondary" %>
            </div>
            <div class="ml-3">
              <%= link_to '削除', whiskey_path(@whiskey), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-8 mt-sm-3">
      <div class="row">
        <div class="whiskey_image col-md-4 mt-md-4">
          <%= image_tag @whiskey.whiskey_image.variant(resize_to_fill: [260, 260]), alt: "ウイスキーの写真" %>
        </div>

        <div class="col-md-7 ml-1 mb-5">
          <div class="mb-2">
            <span class="brand">brand</span>
            <%= @whiskey.name %>
          </div>

          <div class="d-flex">
            <div class="mr-4">impression</div>
            <!--Railsのヘルパーメソッドであるsimple_formatで、改行が反映される-->
            <div class="impression"><%= simple_format(@whiskey.impression) %></div>
          </div>

          <div class="mb-2">
            <span class="price">price</span>
            <%= @whiskey.price_range %>
          </div>

          <div class="taste_scent_graph">
            <div>light</div>
            <div class="graph1">
              <div style="padding-left: <%= @whiskey.taste %>px;"></div>
              <div class="point"></div>
            </div>
            <div>rich</div>
          </div>

          <div class="taste_scent_graph">
            <div>fruity</div>
            <div class="graph2">
              <div style="padding-left: <%= @whiskey.scent %>px;"></div>
              <div class="point"></div>
            </div>
            <div>smokey</div>
          </div>

          <div>cost performance</div>
          <div>
            <%= render "public/whiskeys/rate", whiskey: @whiskey %>
          </div>

          <div class="mt-2 mb-1">tag</div>
          <% if @whiskey.tags.blank? %>
            <%= "タグはありません" %>
          <% else %>
           #<%= @whiskey.tags.map(&:tag).join(' #') %>
          <% end %>

          <div id="favorite_buttons_<%= @whiskey.id %>">
            <%= render "public/favorites/favorites", whiskey: @whiskey %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row mt-3 mb-5">
    <div class="col-md-4 ml-md-5 mb-3">
      <%= form_with model: [@whiskey, @whiskey_comment], local: false do |f| %>
        <%= f.text_area :comment, size: "35x5", placeholder: "コメントはここに" %><br>
        <%= f.submit "送信", class: "link text-white btn btn-outline-secondary" %>
      <% end %>
    </div>

    <div class="col-md-6 offset-1">
      <div id="comments_area">
        <%= render "public/whiskey_comments/comments", whiskey: @whiskey, comments: @comments %>
      </div>
    </div>
  </div>
</div>