
<div class="start_image">
  <div class="image">
    <%= flash[:notice] %>
    <h1 class="text-center py-4">Log in</h1>

    <div class="form-group d-flex justify-content-center">
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <div class="field my-3">
          <%= f.label :"Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field my-3">
          <%= f.label :"Password" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <p class="text-center">
          <%= f.submit "ログイン", class:"link my-3 text-white btn btn-outline-secondary" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
