<h2 class="title">"<%= word %>"検索結果</h2>
<div class="container_fulid">
  <div class="row">
    <%= render "public/whiskeys/tag", tag_list: @tag_list %>

    <div class="col-sm-8 ml-sm-5 mb-sm-3">
      <% unless whiskeys_search.blank? %>
        <% whiskeys_search.each do |whiskey| %>
          <div class="row">
            <div class="whiskey_image col-md-4 mt-md-4">
              <%= link_to whiskey_path(whiskey) do %>
                <%= image_tag whiskey.whiskey_image.variant(resize_to_fill: [260, 260]), alt: "ウイスキーの写真" %>
              <% end %>
            </div>

            <div class="col-md-7 ml-2 mb-5">
              <div class="mb-2">
                <span class="mr-4">投稿者</span>
                <%= whiskey.user.name %>
              </div>

              <div class="mb-2">
                <span class="mr-5">銘柄</span>
                <%= whiskey.name %>
              </div>

              <div class="mb-2">
                <span class="mr-4">価格帯</span>
                <%= whiskey.price_range %>
              </div>

              <div class="taste_scent_graph">
                <div>ライト</div>
                <div class="graph1">
                  <div style="padding-left: <%= whiskey.taste %>px;"></div>
                  <div class="point"></div>
                </div>
                <div>リッチ</div>
              </div>

              <div class="taste_scent_graph">
                <div>フルーティー</div>
                <div class="graph2">
                  <div style="padding-left: <%= whiskey.scent %>px;"></div>
                  <div class="point"></div>
                </div>
                <div>スモーキー</div>
              </div>

              <div>コストパフォーマンス</div>
              <div>
                <%= render "public/whiskeys/rate", whiskey: whiskey %>
              </div>

              <div class="mt-2 mb-1">タグ</div>
              <div>
                <% if whiskey.tags.blank? %>
                  <%= "タグはありません" %>
                <% else %>
                 #<%= whiskey.tags.map(&:tag).join(' #') %>
                <% end %>
              </div>

              <div id="favorite_buttons_<%= whiskey.id %>">
                <%= render "public/favorites/favorites", whiskey: whiskey %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="offset-2 mt-5">見つかりませんでした</h3>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @whiskeys_search %>