<%= flash[:notice] %>
<h2 class="title">Review list</h2>

<div class="container_fulid d-sm-flex">
  <%= render "public/whiskeys/tag", tag_list: @tag_list %>

  <div class="col-sm-7 offset-sm-1 mb-sm-3">
    <% @whiskeys.each do |whiskey| %>
      <div class="row">
        <div class="whiskey_image col-md-4 mt-md-4">
          <%= link_to admin_whiskey_path(whiskey) do %>
            <%= image_tag whiskey.whiskey_image.variant(resize_to_fill: [260, 260]), alt: "ウイスキーの写真" %>
          <% end %>
        </div>

        <div class="col-md-7 ml-2 mb-5">
          <div class="mb-2">
            <span class="name">name</span>
            <%= whiskey.user.name %>
          </div>

          <div class="mb-2">
            <span class="brand">brand</span>
            <%= whiskey.name %>
          </div>

          <div class="mb-2">
            <span class="price">price</span>
            <%= whiskey.price_range %>
          </div>

          <div class="taste_scent_graph">
            <div>light</div>
            <div class="graph1">
              <div style="padding-left: <%= whiskey.taste %>px;"></div>
              <div class="point"></div>
            </div>
            <div>rich</div>
          </div>

          <div class="taste_scent_graph">
            <div>fruity</div>
            <div class="graph2">
              <div style="padding-left: <%= whiskey.scent %>px;"></div>
              <div class="point"></div>
            </div>
            <div>smokey</div>
          </div>

          <div>cost performance</div>
          <div>
            <%= render "public/whiskeys/rate", whiskey: whiskey %>
          </div>

          <div class="mt-2 mb-1">tag</div>
          <div>
            <% if whiskey.tags.blank? %>
              <%= "タグはありません" %>
            <% else %>
             #<%= whiskey.tags.map(&:tag).join(' #') %>
            <% end %>
          </div>

          <div class="mt-3">
            <%= "いいね数：#{whiskey.favorites.count}件" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @whiskeys %>