<div>コメント数：全<%= whiskey.whiskey_comments.count %>件</div>

<% comments.each do |comment| %>
  <div class="row">
    <div class="col-4 my-3">
      <% if admin_signed_in? %>
        <%= link_to admin_user_path(comment.user_id) do %>
          <%= image_tag comment.user.get_profile_image, size:"50x50" %>
        <% end %>
      <% else %>
        <%= image_tag comment.user.get_profile_image, size:"50x50" %>
      <% end %>

      <div><%= comment.user.name %></div>

      <div>
        <% if comment.user == current_user || admin_signed_in? %>
          <%= link_to '消去する', whiskey_whiskey_comment_path(comment.whiskey.id,comment.id), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"}, class:"btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>

    <div class="col-7 mt-3">
      <div>コメント</div>
      <div class="mt-2"><%= simple_format(comment.comment) %></div>
    </div>
  </div>
<% end %>

<%= paginate comments %>