<div class="start_image">
  <div class="image">
    <h2 class="title">Sign up</h2>

    <div class="form-group d-flex justify-content-center">
      <%= flash[:notice] %>
    </div>

    <div class="form-group d-flex justify-content-center">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <div class="field ml-5 my-2">
          <%= f.label :"Nickname"%><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field ml-5 my-2">
          <%= f.label :"E-mail" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field ml-5 my-2">
          <%= f.label :"Password(6文字以上)" %>
          <% if @minimum_password_length %>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field ml-5 my-2">
          <%= f.label :"Password(確認用)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field mt-4 mb-2">
          <%= recaptcha_tags %>
        </div>

        <div class="ml-5">
          <%= f.submit "Sign up", class:"link my-3 ml-5 text-white btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>

    <div class="form-group d-flex justify-content-center">
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
  </div>
</div>
