<div class="user_page_image">
  <div class="image">
    <h2 class="title">プロフィール編集</h2>

    <div class="form-group d-flex justify-content-center">
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local:true do |f| %>
        <div class="field my-3">
          <%= f.label :"ニックネーム" %>
          <%= f.text_field :name, class:"form-control name" %>
        </div>
        <div class="field my-3">
          <% if @user.profile_image.blank? %>
            <%= f.label :"プロフィール画像(＊任意)" %>
          <% else %>
            <%= f.label :"変更する場合は画像を選択してください" %>
          <% end %>
          <%= f.file_field :profile_image, class:"form-control-file user_image", accept: 'image/*' %>
        </div>
        <div class="field my-3">
          <%= f.label :"メールアドレス" %>
          <%= f.text_field :email, class:"form-control introduction" %>
        </div>

        <div>
          <div class="mb-2">登録状況変更</div>
          <span class="mr-4">
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効", value: false %>
          </span>
          <span>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会", value: true %>
          </span>
        </div>

        <div class="d-flex justify-content-center">
          <%= f.submit "更新する", class:"link my-3 text-white btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>

    <div class="form-group d-flex justify-content-center">
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
