<div class="start_image">
  <div class="image">
    <h1 class="text-center pt-5">Log in</h1>

    <div class="form-group d-flex justify-content-center">
      <%= flash[:notice] %>
    </div>

    <div class="form-group d-flex justify-content-center">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="field ml-5 my-3">
          <%= f.label :"E-mail" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field ml-5 my-3">
          <%= f.label :"Password" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="field mt-4 mb-2">
          <%= recaptcha_tags %>
        </div>

        <div class="ml-5">
          <%= f.submit "Log in", class:"link my-3 ml-5 text-white btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

