<%= flash[:notice] %>

<h2 class="title">マイページ</h2>
  <div class="container_fulid">
    <div class="row">
      <div class="col-sm-2 ml-5 mt-3">
        <div>
          <%= image_tag @user.get_profile_image, size:"130x130", alt: "プロフィール画像" %>
        </div>
        <p class="mt-4">
          <%= @user.name %>
        </p>
        <div>レビュー数：<%= @user.whiskeys.count %>件</div>
        <div>
          <% if @user.name != "ゲストユーザー" %>
           <%= link_to "プロフィール編集", edit_user_path(@user), class:"link my-3  text-white btn btn-sm btn-outline-secondary" %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-8 ml-5 mb-3">
        <% @whiskeys.each do |whiskey| %>
          <div class="row">
            <div class="col-md-4">
              <%= link_to whiskey_path(whiskey) do %>
                <%= image_tag whiskey.whiskey_image, size:"230x300", alt: "ウイスキーの写真" %>
              <% end %>
            </div>

            <div class="col-md-7 ml-2 mb-5">
              <div class="mb-2">
                <span class="mr-5">銘柄</span>
                <%= whiskey.name %>
              </div>

              <div class="mb-2">
                <span class="mr-4">価格帯</span>
                <%= whiskey.price_range %>
              </div>

              <div class="taste_scent_graph">
                <div>ライト</div>
                <div class="graph1">
                  <div style="padding-left: <%= whiskey.taste %>px;"></div>
                  <div class="point"></div>
                </div>
                <div>リッチ</div>
              </div>

              <div class="taste_scent_graph">
                <div>フルーティー</div>
                <div class="graph2">
                  <div style="padding-left: <%= whiskey.scent %>px;"></div>
                  <div class="point"></div>
                </div>
                <div>スモーキー</div>
              </div>

              <div>コストパフォーマンス</div>
              <div>
                <%= render "public/whiskeys/rate", whiskey: whiskey %>
              </div>

              <div class="mt-2 mb-1">タグ</div>
              <div>
                <% if whiskey.tags.blank? %>
                  <%= "タグはありません" %>
                <% else %>
                 #<%= whiskey.tags.map(&:tag).join(' #') %>
                <% end %>
              </div>

              <div id="favorite_buttons_<%= whiskey.id %>">
                <%= render "public/favorites/favorites", whiskey: whiskey %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= paginate @whiskeys %>