<h1>投稿詳細画面</h1>

<%= link_to admin_user_path(@whiskey) do %>
  <%= image_tag @whiskey.user.get_profile_image, size:"80x80", alt: "ユーザーの写真" %>
<% end %>

<div>投稿者</div>
<%= @whiskey.user.name %>

<%= image_tag @whiskey.whiskey_image, size:"300x380", alt: "ウイスキーの写真" %>

<div>銘柄</div>
<%= @whiskey.name %>

<div>感想</div>
<%= @whiskey.impression %>

<div>価格帯</div>
<%= @whiskey.price_range %>

<p>ライト</p>
  <div class="graph">
    <div style="padding-left: <%= @whiskey.taste %>px;"></div>
    <div class="point"></div>
  </div>
<p>リッチ</p>

<p>フルーティー</p>
  <div class="graph">
    <div style="padding-left: <%= @whiskey.scent %>px;"></div>
    <div class="point"></div>
  </div>
<p>スモーキー</p>

<p>コストパフォーマンス</p>
<%= render "public/whiskeys/rate", whiskey: @whiskey %>

<%= "いいね数(#{@whiskey.favorites.count})" %>

<p>タグ</p>
<% if @whiskey.tags.blank? %>
  <%= "タグはありません" %>
<% else %>
 #<%= @whiskey.tags.map(&:tag).join(' #') %>
<% end %>

<div id="comments_area">
  <%= render "public/whiskey_comments/comments", whiskey: @whiskey %>
</div>

<%= link_to '投稿削除', admin_whiskey_path(@whiskey), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
