<header class="shadow-sm">
  <nav class="nav header_navbar navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <!--ユーザー用のヘッダー-->
        <% if user_signed_in? %>
        <div class="logo">
          <a class="header_navbar navbar" href="/whiskeys"><%= image_tag 'logo.png', size: '80x80', class:"logo_size" %></a>
        </div>

        <button class="navbar-toggler mx-4" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <li class="header_link"><%= link_to "Notification", notifications_path %>
            <% if unchecked_notifications.any? %>
             <div class="check"><i class="fas fa-exclamation-triangle"></i></div>
            <% end %></li>
            <li class="header_link"><%= link_to "My page", user_path(current_user) %></li>
            <li class="header_link"><%= link_to "New post", new_whiskey_path %></li>
            <li class="header_link"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
        <!--管理人のヘッダー-->
        <% elsif admin_signed_in? %>
        <div class="logo">
          <a class="header_navbar navbar" href="/admin"><%= image_tag 'logo.png', size: '80x80', class:"logo_size" %></a>
        </div>
        <p class="admin_title">Administrator</p>
        <button class="navbar-toggler mx-4" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="header_link"><%= link_to "User list", admin_users_path %></li>
            <li class="header_link"><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </div>
        <% else %>
        <div class="logo">
          <a class="header_navbar navbar" href="/"><%= image_tag 'logo.png', size: '80x80', class:"logo_size" %></a>
        </div>
        <button class="navbar-toggler mx-4" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="header_link"><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="header_link"><%= link_to "Sign in", new_user_session_path %></li>
            <li class="header_link"><%= link_to "Guest log in", users_guest_sign_in_path, method: :post %></li>
          </ul>
        </div>
        <% end %>
    </div>
  </nav>
</header>