<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--ユーザー用のヘッダー-->
        <% if user_signed_in? %>
        <a class="navbar" href="/whiskeys"><%= image_tag 'logo.png', size:'90x90' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="mr-2"><%= link_to "マイページ", user_path(current_user), class: 'nav-link text-white btn btn-outline-secondary' %></li>
            <li class="mr-2"><%= link_to "投稿する", new_whiskey_path, class: 'nav-link text-white btn btn-outline-secondary' %></li>
            <li class="mr-2"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white btn btn-outline-secondary' %></li>
          </ul>
          <div><%= render 'layouts/searches' %></div>
        <!--管理人のヘッダー-->
        <% elsif admin_signed_in? %>
        <a class="navbar" href="/"><%= image_tag 'logo.png', size:'90x90' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="mr-2"><%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-white btn btn-outline-secondary' %></li>
            <li class="mr-2"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white btn btn-outline-secondary' %></li>
          </ul>
          <div><%= render 'layouts/searches' %></div>
        </div>
        <% else %>
        <a class="navbar" href="/whiskeys"><%= image_tag 'logo.png', size:'90x90' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="mr-2"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white btn btn-outline-secondary' %></li>
            <li class="mr-2"><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white btn btn-outline-secondary' %></li>
            <li class="mr-2"><%= link_to "ゲストログイン", whiskeys_path, class: 'nav-link text-white btn btn-outline-secondary' %></li>
          </ul>
        <% end %>
    </div>
  </nav>
</header>